@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.footer
{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #828282;
}
.footer a
{
    text-decoration: none;
    color: #828282;
    font-weight: 700;
    padding-left: 0.2rem;
}
@media (max-width:350px)
{
    .footer
    {
        font-size: 10px;
    }
}