@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar
{
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}
.top-bar .logo
{
    display: flex;
    align-items: center;
    color: #EB5757;
    gap: 0.5rem;
    font-family: 'Poppins', sans-serif;
}
.top-bar .logo i
{
    transform: scale(2);
    border-radius: 6px;
}
.top-bar .logo .logo-text
{
    font-weight: 700;
    font-size: 14px;
}
.search-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.search
{
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.search input
{
    border: none;
    border-right: 1px solid #F2F2F2;
    outline: none;
    padding: 0.5rem 1rem;
}
.search i
{
    color: #EB5757;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}
.stayss
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}
.stayss .h1
{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}
.stayss p
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
}
.modal
{
    display: none;
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(79, 79, 79, 0.4);;
}
.modal-content
{
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop 
{
    from 
    {
        top:-300px; opacity:0
    } 
    to 
    {
        top:0; opacity:1
    }
}
@keyframes animatetop 
{
    from 
    {
        top:-300px; opacity:0
    } 
    to 
    {
        top:0; opacity:1
    }
}
.close
{
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,.close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header
{
    padding: 16px;
    text-align: center;
    background-color: #fff;
    color: #000;
    margin-bottom: 1rem;
}
.button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container button
{
    padding: 1rem 2rem;
    background: rgba(235, 87, 87, 0.9);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.modal-footer
{
    padding: 2px 16px;
    background-color: #fff;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modal-footer button
{
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    background-color: #011F4B;
    color: #fff;
    cursor: pointer;
    float: right;
}
.modal-body
{
    padding: 2px 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
.modal-body input
{
    width: 100%;
    border: 1px solid #333333;
    border-radius: 6px;
    outline: none;
    padding: 1rem;
}
.top-most
{
    font-weight: 700;
    font-size: 14px;
    color: #333333;
}
.bot-most
{
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
select
{
    border: 1px solid #333333;
    outline: none;
    border-radius: 6px;
}
@media (max-width:1000px)
{
    .top-bar,.stayss
    {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .top-bar
    {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2rem;
    }
    .search
    {
        width: 80vw;
    }
    .search input
    {
        width: 50%;
    }
    .stayss .h1
    {
        font-size: 16px;
    }
    .modal-body
    {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }
    .modal-content
    {
        height: 80%;
    }
}